.B1 {
    text-align: left;
    margin: 0 0 0 5%;
    font-size: 100%;
    color: rgb(0, 0, 0);
    width:100%;
  }

.B2 {
    text-align: left;
    margin: 0 0 0 10%;
    font-size: 70%;
    color: rgb(0, 0, 0);
    width:80%;
    font-weight: 800;
  }
.Item {
    display: inline-block;
    margin: 0 10% 0 10%;
    font-size: 70%;
    color: rgb(0, 0, 0);
    font-weight: 800;
}

.Item2 {
    display: inline-block;
    margin: 0 10% 0 10%;
    font-size: 70%;
    color: rgb(0, 0, 0);
    font-weight: 800;
}

.ItemBox {
    display: inline-block;
    margin: 0 5% 0 10%;
    max-width: 35%;
    font-size: 70%;
    color: rgb(0, 0, 0);
    font-weight: 800;
}

.ItemBox2 {
    display: inline-block;
    margin: 0 10% 0 3%;
    max-width: 35%;
    font-size: 70%;
    color: rgb(0, 0, 0);
    font-weight: 800;
}