.rectangle {
  display: flex;
  justify-content: center;
  align-items: center; 
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 175px;
  background-color: #212d32;
  border-radius: 0px 0px 20px 20px;
  /* Add other styles as needed */
}
