* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  background: rgb(238, 174, 202);
  background: rgb(255, 255, 255)
}

h1 {
  text-align: center;
  margin: 2rem 0 4rem 0;
}

.accordion {
  max-width: 600px;
  margin: 2rem auto;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 8px;
  padding: 5px; 
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: #ffffff;
  border-bottom: 2px solid  gray;
}

.accordion-title:hover {
  background-color: #868686;
}

.accordion-title,
.accordion-content {
  padding: 1rem;
}

.accordion-content {
  background-color: #ffffff;
}

@media screen and (max-width: 700px) {
  .accordion {
    width: 90%;
  }
}