.TittleFaq {
    text-align: center;
    margin: auto;
    font-size: 100%;
    color: white;
    width:100%;
  }

.Tittle {
    text-align: center;
    margin:  auto;
    font-size: 200%;
    color: white;
    width:100%;
}

.Bg {
    background-color:#426EEB;
    width: 100%;
    height: 40%;
    padding: 5px;
}

@media screen and (max-width: 700px) {
    .Bg {
      width: 100%;
    }
  }